
.outer{
  height:100vh;
  padding-top: 4em;
  background:linear-gradient(to top, #b6f38e 50%,#eb9b08 60%)no-repeat;

}

header{
  padding: 150px;
  background-color:rgb(255, 176, 29);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  text-align: center;
  position: relative;
}


input[type="submit"] {
  background: #3d5c17;
  color: #28c244;
  border: none;
  font-size: 0.8em;
  padding: 15px 15px;
  /* margin: 20px; */
  border-radius: 5px;
  cursor: pointer;
}
button {
  background: #3d5c17;
  color: #28c244;
  border: none;
  font-size: 0.8em;
  padding: 15px 15px;
  /* margin: 20px; */
  border-radius: 5px;
  cursor: pointer;
}
