<div class="outer">
<h1>Internship Form:</h1>
    <form>
      <label for="intern-name">Intern Name:</label>
      <input type="text" id="intern-name" name="intern-name"><br><br>

      <label for="internship-name">Internship Name:</label>
      <input type="text" id="internship-name" name="internship-name"><br><br>

      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date"><br><br>

      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date"><br><br>

      <label for="picture">Upload Picture (jpg/png):</label>
      <input type="file" id="picture" name="picture"><br><br>

      <input type="submit" value="Submit">
    </form>
  </div>
